<div class="container p-5">
    <h1>🍿 All Movies</h1>
  </div>
  <br>
<div class="container">
  <ul>
    <% @movies.each do |movie| %>
        <div class="card" style="width: 15rem;">
          <img class="card-img-top" src="<%= movie["poster_url"]%>">
          <div class="card-body">
            <h5 class="card-title"> <%= movie["title"] %></h5>
          </div>
        <% end %>
        </div>
  </ul>
  <br>
  <p class="p-5"><%= link_to "All Lists", lists_path %><p>
</div>
